<h1>{{title}}</h1>
<!-- wrapper -->
    <div class="conatiner">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-3">
          <form [formGroup]="regiForm" (ngSubmit)="postRequest(regiForm.value)">
            <div>
              <!-- Company Name -->
            <mat-form-field>
                <input matInput disabled placeholder="RSystems International" />
            </mat-form-field>
          </div>
            <!-- First Name -->
            <mat-form-field>
                <input matInput formControlName="fname" placeholder="First Name" />
             <mat-error *ngIf="fname.invalid && fname.touched">
              Please Enter Your First Name
             </mat-error>
            </mat-form-field>
             <!-- Last Name -->
             <mat-form-field>
                <input matInput formControlName="lname" placeholder="Last Name"/>
              <mat-error *ngIf="lname.errors && lname.touched">
                Please Enter Your Last Name
               </mat-error>
            </mat-form-field>
            <!-- Email Address -->
            <mat-form-field>
              <input matInput  formControlName="email" placeholder="Email">
              <mat-error *ngIf="email.invalid && email.touched ">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <hr/>
            <button class="btn btn-primary" [disabled]="fname.invalid || lname.invalid || email.invalid" >Save Data</button>
           </form>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12 col-xs-12 col-md-8 col-md-offset-3">
          <button class="btn btn-primary" (click)="fetchData()">Fetch Data</button>
        </div>
        <div class="col-xs-12 col-md-8 col-md-offset-3" *ngIf="restData.length>= 1" >
         <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Id</th>
              <th scope="col">FName</th>
              <th scope="col">LName</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of restData; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{item.id}}</td>
              <td>{{ item.fname}}</td>
              <td>{{ item.lname}}</td>
            </tr>
            </tbody>
        </table>
        </div>
      </div>
  </div>
